* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: rubik !important;
  scroll-behavior: smooth;
}

body{
}

@font-face {
  src: url("./assets/fonts/Rubik.ttf");
  font-family: rubik;
}
